body {
    padding: 0;
    text-align: center;

    background-image: url(css-pattern.png);
    background-color: #f3f0d2;
    opacity: 1;
    background-image: radial-gradient(#444cf7 1px, #e5e5f7 0.5px);
    background-size: 50px 50px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    font-weight: 900;
}

.select-box,
.select-box-1,
.select-box-2 {
    display: flex;
    box-sizing: content-box;
    flex-direction: row;
    margin: 15px;
}

.select-box {
    height: 35px;
}

.select-box-1, .select-box-2 {
    align-self: center;
    height: 45px;
}

.select {
    margin-left: 10px;  
    border: 1px solid gray;
    border-radius: 10px;
    width: 100px;
    text-align: center;
}

.select,  #result, #input, #convert-button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.conversion-box {
    width: 350px;
    height: 300px;
    background-color: whitesmoke;
    border: 5px whitesmoke solid;
    border-radius: 25px;
    box-shadow: 0 0 5px black;
    margin: 15px;
    justify-self: center;
}

#result, #input {
    border: 1px solid gray;
    border-radius: 10px;
    height: 25px;
    text-align: right;
    padding-right: 10px;
    margin: 10px;

}

#convert-button {
    align-self: center; 
    width: 150px;
    height: 35px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: #9afc9a;
    cursor: pointer;
    font-weight: 1200;
}

.conversion-result {
    display: flex;
    flex-direction: column;
}

#result-msg {
    padding: 0;
    margin: 0;
    color: rgb(224, 88, 88);
}